body{
    font-family: Ariel,sans-serif;
    background-color: #c90ec9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #e715dc;
}